#server
HOST=localhost
PORT=3000

#Database
PGUSER=
PGPASSWORD=
PGDATABASE=
PGHOST=
PGPORT=

#Security
ACCESS_TOKEN_KEY=
REFRESH_TOKEN_KEY=

#Google Auth
GOOGLE_CLIENT_ID=

#App
APP_URL=
AI_URL=
ALICE_CHAT_URL=

#Testing User
userId=
email=test@example.com
password=password123
refreshToken=
accessToken=
transactionId=

# supabase storage
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=