#server
HOST=localhost
PORT=3000

#Database
PGUSER=
PGPASSWORD=
PGDATABASE=
PGHOST=
PGPORT=

#Security
ACCESS_TOKEN_KEY=
REFRESH_TOKEN_KEY=


#Google Auth
GOOGLE_CLIENT_ID=

#App
APP_URL=
Ai_AI_URL=

#Testing User
