# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# Jupyter checkpoint
.ipynb_checkpoints/

# OS / editor
.DS_Store
Thumbs.db

.githubtest

drive-download-20260518T133659Z-3-001.zip
notebook.ipynb
Submission_Akhir_kazehaya1.ipynb
Submission_Klasifikasi_Gambar_Muhammad_Rizki_Rahmat(1).zip
drive-download-20260518T133659Z-3-001